/* COMMON */
html {
  --main-color: #333;
  --white-color: #fff;
  --font-lightgray: #6F6F6F;
  --crown-purple: #9E1758;
  --crown-orange: #FF7E00;
  --border-color: #E9E9E9;
  --background-blue: #447AC2;
}
body {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
h2 {
  font-size: 1.56em;
  font-weight: 700;
}
p {
  margin-top: 10px;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 5px 10px;
  border: 2px solid var(--white-color);
  border-radius: 30px;
  box-sizing: border-box;
  color: var(--white-color);
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  text-decoration: underline;
}
.btn--purple {
  border: 2px solid var(--crown-purple);
  color: var(--crown-purple);
  transition: .3s;
}
.btn--purple:hover {
  background-color: var(--crown-purple);
  color: var(--white-color);
}
.btn--darkgray {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display:none;
}
.swiper .swiper-pagination-bullet-active {
  background-color: var(--crown-purple);
}
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}


/* HEADER */
header {
  width: 100%;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 3;
}
header>.inner {
  height: 88px;
}
header .header-bar {
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
header .header-bar div:nth-child(1) {
  width: 30%;
  background-color: var(--crown-orange);
}
header .header-bar div:nth-child(2) {
  width: 70%;
  background-color: var(--crown-purple);
}
header .logo {
  height: 27px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .gnb {
  height: 79px;
  padding-top: 8px;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .main-menu {
  display: flex;
}
header .main-menu .item__name a {
  font-size: 1.13em;
  font-weight: 700;
  padding: 28px 35px;
  display: block;
}
header .main-menu .item:hover .item__name a {
  color: var(--crown-orange);
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  visibility: hidden;
  transition: .3s;
  opacity: 0;
}
header .main-menu .item:hover .item__contents {
  visibility: visible;
  opacity: 1;
}
header .main-menu .item .item__contents .contents__menu {
  background-image: url(../images/bg_gnbSub.png);
}
header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
}
header .main-menu .item .item__contents .contents__menu>ul>li a {
  font-size: 0.94em;
  padding: 0 20px;
  display: block;
}
header .main-menu .item .item__contents .contents__menu>ul>li:hover a {
  color: var(--white-color);
  font-weight: 700;
}
header .sub-menu {
  display: flex;
  align-items: center;
}
header .sub-menu ul.menu {
  display: flex;
  padding-right: 50px;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: var(--border-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 5px 16px;
  display: block;
  color: var(--font-lightgray);
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  position: absolute;
  right: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: var(--white-color);
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: var(--crown-purple);
}
header .sub-menu .search .material-symbols-outlined {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
  cursor: pointer;
}
header .sub-menu .search.focused .material-symbols-outlined {
  opacity: 0;
}
header .badges {
  position: absolute;
  top: 130px;
  right: 20px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin: 12px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, .15);
  cursor: pointer;
}


/* VISUAL */
.visual {
  width: 100%;
  margin-top: 88px;
  background-image: url(../images/visual_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-blue);
  overflow: hidden;
}
.visual>.inner {
  height: 600px;
}
.visual .title {
  position: absolute;
  top: 110px;
  left: 40px;
  z-index: 1;
}
.visual .ob_1 {
  position: absolute;
  top: 20px;
  right: 70px;
}
.visual .ob_2 {
  position: absolute;
  top: 230px;
  right: 400px;
}
.visual .ob_3 {
  position: absolute;
  top: 210px;
  right: 0px;
}
.visual .ob_4 {
  position: absolute;
  top: 400px;
  right: 200px;
}
.visual .fade-in {
  opacity: 0;
}


/* PROMOTION */
.promotion {
  height: 625px;
  position: relative;
  overflow: hidden;
}
.promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 620px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.promotion .swiper-slide img {
  border-radius: 20px;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-slide .promo-text {
  width: 819px;
  position: absolute;
  bottom: 145px;
  text-align: center;
}
.promotion .swiper-slide .promo-text h3 {
  font-size: 1.13em;
}
.promotion .swiper-slide .promo-text h3>span {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--crown-orange);
}
.promotion .swiper-slide .btn {
  position: absolute;
  bottom: 87px;
  left: 0;
  right: 0;
  margin: auto;
}
.promotion .swiper-pagination {
  margin-bottom: 17px;
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 45px;
  height: 45px;
  border: 2px solid var(--crown-purple);
  color: var(--crown-purple);
  border-radius: 50%;
  position: absolute;
  top: 300px;
  transition: .3s;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: var(--crown-purple);
  color: var(--white-color);
}
.promotion .swiper-button-prev {
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next {
  right: 50%;
  margin-right: -480px;
}


/* SPARKLING */
.sparkling {
  width: 100%;
  position: relative;
}
.sparkling .sparkling_lbg {
  width: 50%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #561C94;
}
.sparkling .sparkling_rbg {
  width: 50%;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EC3E7D;
}
.sparkling .inner {
  height: 400px;
  background-image: url(../images/sparkling_bg.jpg);
}
.sparkling .sparkling_ob {
  position: absolute;
  top: 20px;
  left: 160px;
}
.sparkling .text-group {
  position: absolute;
  top: 115px;
  right: 50px;
  color: var(--white-color);
}
.sparkling .text-group .btn {
  margin: 25px 0 0 0;
}


/* MELLOWPOP */
.mellopop {
  width: 100%;
  background-color: var(--background-blue);
}
.mellopop .inner {
  height: 400px;
  background-image: url(../images/mellopop_bg.jpg);
}
.mellopop .text-group {
  position: absolute;
  top: 120px;
  left: 50px;
  color: var(--white-color);
}
.mellopop .text-group .btn {
  margin: 25px 0 0 0;
}
.mellopop .mellopop_ob {
  position: absolute;
  top: 20px;
  right: 160px;
}


/* PRODUCT INFO */
.product-info {
  height: 669px;
  background-image: url(../images/product_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.product-info .text-group {
  margin-top: 52px;
  text-align: center;
  color: var(--white-color);
}
.product-info .text-group p {
  font-size: 1.25em;
}
.product-info .image-area {
  position: relative;
  z-index: 2;
}
.product-info .image-area .ob_1 {
  position: absolute;
  top: -53px;
  left: -62px;
}
.product-info .image-area .ob_2 {
  position: absolute;
  top: -89px;
  right: -163px;
}
.product-info .infos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.product-info .infos .info>span {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
  color: var(--white-color);
  font-weight: 700;
  cursor: pointer;
}
.product-info .infos .info>span:hover,
.product-info .infos .info.active>span {
  background-color: var(--white-color);
  color: var(--main-color);
}
.product-info .infos .info>span:last-child {
  margin-right: 10px;
}
.product-info .swiper {
  width: calc(250px * 5 + 120px);
  height: 400px;
  position: absolute;
  top: 205px;
  left: 50%;
  margin-left: calc((250px * 5 + 180px) / -2);
  padding: 0 30px;
  background-color: var(--white-color);
  border-radius: 20px;
  visibility: hidden;
}
.product-info .info.active .swiper {
  visibility: visible;
}
.product-info .swiper .swiper-slide img {
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}
.product-info .swiper-slide .info-text {
  width: 250px;
  padding-top: 12px;
  text-align: center;
}
.product-info .swiper-slide .info-text strong {
  font-weight: 700;
}
.product-info .swiper-slide .info-text p {
  font-size: 0.94em;
}
.product-info .swiper .swiper-pagination {
  margin-bottom: 15px;
}


/* NEWS */
.news {
  background-color: var(--white-color);
}
.news .news_texture {
  position: absolute;
} 
.news .news_texture1 {
  top: 0;
  right: -457px;
} 
.news .news_texture2 {
  top: 180px;
  left: 200px;
}
.news .news_texture3 {
  bottom: 0;
  left: -298px;
}
.news .news_texture4 {
  bottom: 0;
  right: -150px;
}
.news .news_texture5 {
  bottom: -27px;
  left: 96px;
}
.news .news_texture6 {
  bottom: 0;
  right: -30px;
}
.news .news_object {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  position: absolute;
}
.news .social {
  height: 400px;
  position: relative;
}
.news .social .text-group {
  position: absolute;
  top: 130px;
  right: 50px;
}
.news .social .text-group span {
  color: var(--crown-purple);
}
.news .social .text-group .btn {
  margin: 25px 0 0 0;
}
.news .social .social_ob1 {
  top: -47px;
}
.news .social .social_ob2 {
  top: 217px;
  left: 180px;
}
.news .social .social_ob3 {
  top: 57px;
  left: 387px;
}
.news .social .social_texture1 {
  position: absolute;
  top: 37px;
  right: 150px;
}
.news .instagram {
  height: 450px;
  position: relative;
}
.news .instagram .text-group {
  position: absolute;
  top: 84px;
  left: 50px;
}
.news .instagram .text-group span {
  color: var(--crown-purple);
}
.news .instagram .text-group .btn {
  margin: 25px 0 0 0;
}
.news .instagram .instagram_ob {
  right: 257px;
}
.news .instagram .instagram_texture1 {
  position: absolute;
  top: -117px;
  right: 41px;
}
.news .instagram .instagram_texture2 {
  position: absolute;
  top: -31px;
  right: 162px;
}


/* FOOTER */
footer {
  height: 200px;
  font-size: 0.88em;
  border-top: 1px solid var(--border-color);
}
footer .footer-menu {
  border-bottom: 1px solid var(--border-color);
}
footer .footer-menu>.inner {
  display: flex;
  align-items: center;
}
footer .footer-menu .menu {
  height: 45px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
footer .footer-menu .menu a {
  border-left: 1px solid var(--border-color);
  padding: 0 20px;
  text-align: center;
  color: var(--font-lightgray);
}
footer .footer-menu .menu a:first-child {
  border-left: none;
  padding-left: 0;
}
footer .footer-menu .menu a.orange {
  color: var(--crown-orange);
}
footer .footer-menu .sns {
  display: flex;
}
footer .footer-menu .sns a {
  padding: 0 5px;
}
footer .footer-info>.inner {
  display: flex;
}
footer .footer-info .footer-logo {
  padding-top: 30px;
  flex-grow: 0;
}
footer .footer-info .text-group {
  flex-grow: 1;
  padding: 30px 0 0 50px;
  color:  var(--font-lightgray);
}

footer .footer-info .text-group .line {
  width: 1px;
  height: 12px;
  background-color: var(--border-color);
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
footer .footer-info .text-group p {
  margin: 0;
}
footer .footer-info select {
  width: 200px;
  height: 30px;
  border: 1px solid var(--border-color);
  padding: 5px;
  margin-top: 30px;
}
footer .footer-info select option[value=""][disabled] {
	display: none;
}


#to-top {
  width: 42px;
  height: 42px;
  background-color: var(--crown-purple);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}